@font-face {
    font-family: 'VeganStylePersonalUse-5Y58';
    src: url('fonts/VeganStylePersonalUse-5Y58.eot');
    src: url('fonts/VeganStylePersonalUse-5Y58.eot?#iefix') format('embedded-opentype'),
         url('fonts/VeganStylePersonalUse-5Y58.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'VeganStylePersonalUse';
    src: url('fonts/VeganStylePersonalUse.svg#VeganStylePersonalUse') format('svg'),
         url('fonts/VeganStylePersonalUse.ttf') format('truetype'),
         url('fonts/VeganStylePersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f5dd53;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f5dd53;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(206, 175, 4);
  color: white;
}

.jumbotron{

    background-color: white;


}

#banner{

    font-family: 'VeganStylePersonalUse-5Y58';
    font-family: 'VeganStylePersonalUse';
    color: rgb(241, 203, 33);
    font-size: 70px;
}

#first-header{
    float: right;

}
#oven2{
    float: left;
}


.profile-button {
    background: rgb(245, 221, 83);
    box-shadow: none;
    border: none;
    color:black;
}

.profile-button:hover {
    background: rgb(206, 175, 4);
}

.profile-button:focus {
    background: rgb(245, 221, 83);
    box-shadow: none;
}

.profile-button:active {
    background:rgb(245, 221, 83);
    box-shadow: none;
}

.back:hover {
    color: rgb(245, 221, 83);
    cursor: pointer;
}
.text-right{

    font-weight:bold;
    color: rgb(245, 221, 83);

}



/*LOGIN STYLE*/


body{

    background-color: #2f3031;

}

.card {
    border-radius: 30px;
    border-top: 5px solid rgb(245, 221, 83);
    background:  black;
    color:  rgb(245, 221, 83);
    width: 300px;
}



p {
    font-weight: 600;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fab {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #2A284D;
    height: 40px;
    width: 90px;
}



.division {
    float: none;
    position: relative;
    margin: 30px auto 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.division .line {
    border-top: 1.5px solid #57557A;
    
    position: absolute;
    top: 13px;
    width: 85%;
}


.division span {
    font-weight: 600;
    font-size: 30px;
}

.myform {
   
    color: black;
    background-color: black;
    border-radius: 10px;

}


.myform:focus {
    background-color: rgb(90, 117, 134);
    color:white;
    font-weight: bold;
    border-color: rgb(245, 221, 83);
    border-bottom: 5px solid rgb(245, 221, 83);
}

.form-control {

    color: black;
    background-color: rgb(90, 117, 134);
    width: auto;
    
} 
.form-control::placeholder{
    color: rgb(189, 181, 181);
  }
.loginfield{
    position: relative;
    display: block;
    margin : 10px auto;
    color: black;
    background-color: rgb(90, 117, 134);
    width: auto;
    border-radius: 10px;
    
    
}
.form-control:focus {
    background-color: rgb(90, 117, 134);
    color:white;
    font-weight: bold;
    border-color: rgb(245, 221, 83);
    border-bottom: 5px solid rgb(245, 221, 83);
}

.loginfield:focus{

    background-color: rgb(90, 117, 134);
    color:white;
    font-weight: bold;
    border-color: rgb(245, 221, 83);
    border-bottom: 5px solid rgb(245, 221, 83);
   

}
::-webkit-input-placeholder { /* Edge */
    color:white;
    font-weight: bold;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-weight: bold;
  }
  
  ::placeholder {
    color: white;
    font-weight: bold;
  }


.bn {
    text-decoration: underline;
}

.bn:hover {
    cursor: pointer;
}


.btn-block {
    border: 0;
    color: white;
    background-color: #0a0a0a;
    background: #0a0a0a;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 150px;
    margin: 25px 65px;
    
   
}

.btn-block:hover{

    background: #2ecc71;
    
}



small {
    color: #403b42
}


@media(min-width: 767px) {
    .bn {
        text-align: right;
    }
}

@media(max-width: 767px) {
    .form-check {
        text-align: center;
    }

    .bn {
        text-align: center;
        align-items: center;
    }
}

@media(max-width: 450px) {
    .fab {
        width: 100%;
        height: 100%;
    }

    .division .line {
        width: 50%;
    }
}
/* STYLE*/
#search-input{
    display: inline-block;

}
#search{
    padding-top: 60px;
    padding-bottom: 60px;

}
.search-bar{
    width: 600px;
    background-color: white;
    height: 39px;
    border-left: 6px solid rgb(245, 221, 83);
    border-radius: 10px;
}
.search-bar:focus{
    background-color: rgb(90, 117, 134);
    color:white;
    font-weight: bold;
    border-color: rgb(245, 221, 83);
    border-bottom: 5px solid rgb(245, 221, 83);
}

#mydiv{
    margin-top: 40px;
    width: 700px;
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;

}
#mydiv h1{

    color:  rgb(245, 221, 83);
    
}

#cart-container{

    visibility: hidden;
    background-color: #2f3031;
}
#cart-header{

    position:fixed;
    right: 50px; top: 195px;
    width: 300px;
    height: 50px;
    z-index: 10;

}
#cart2{

    position:fixed;
    right: 63px; top: 300px;
    width: 300px;
    height: 300px;
    z-index: 10;
    background-color: #2f3031;

}
#cart-buttons{

    position:fixed;
    right: 50px; top: 245px;
    width: 300px;
    height: 40px;
    z-index: 10;

}
#error-box{
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 300px;
    
    margin: auto;
    position: relative;

}

.warning{
    position: fixed;
    right: 50px; top: 245px;
    color: rgb(245, 221, 83);
}


.label{

    color: white;

}
.profilediv{

    background-color: black;
    color: white;

}

table {
    font-family: arial, sans-serif;
   
    width: 100%;
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: cursive;
  }
  th{
    border: 1px solid #dddddd;
    text-align: left;
    font-weight: bold;
    padding: 8px;
    background-color: rgb(63, 62, 58);
    color:rgb(245, 221, 83);


  }
  
  tr:nth-child(even) {
    background-color: rgb(90, 117, 134);
  }
  tr:hover {
      background-color: rgb(197, 168, 4);
    }

  a {
    color: rgb(245, 221, 83);
  }
  a:hover {
    color: rgb(252, 252, 252);
  }
  h1,h5,h7{
    color: rgb(245, 221, 83);
  }

